<form [formGroup]="form" (ngSubmit)="form.valid ? submit() : ''">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title" required>
      <mat-error *ngIf="form.controls.title.errors && form.controls.title.errors.required">Title is required</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-button (click)="onCancel()">Cancel</button>
    <button mat-button type="submit" cdkFocusInitial>Ok</button>
  </div>
</form>